* {box-sizing: border-box;}

.grid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 100px;
  grid-auto-rows: 10em;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.grid div {
  border: 1px solid rgb(0,95,107);
  border-radius: 3px;
  background-color: rgba(0,95,107,0.8);
  padding: 0.2em;
  color: #fff;
}
.grid div:nth-child(even) {background: #cc3333}